.params{
    margin: 0px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #7A7A7A;
    
    &>tr{
        display: flex;
        // flex-direction:row;
        // flex-grow:1
        &>th{
            background: rgb(212, 212, 212);
            color: rgb(71, 71, 71);
            padding: 7px;
            font-weight: 400;
            flex-grow: 1;
            box-sizing: border-box;
            width: 33.33%;

            
        }
        &>td{
            display: flex;
            flex-direction: row;
            padding: 7px;
            flex-grow: 1;
            font-weight: 400;
            font-size: 15px;
            width: 33.33%;
            height: 40px;
            box-sizing: border-box;
            word-break: break-all;
            overflow-x:none;
            overflow-y: none; 
            background: rgba(236, 235, 235, 0.671);

            &:nth-child(3){
                padding: 0;
            }
            &>div{
                overflow-x: hidden;
                overflow-y: auto;
                padding: 7px;
                &:nth-child(1){
                    width: 85%;
                }
                &:nth-child(2){
                    width: 15%;
                    

                }

            }
        }  

    }
}



@media(max-width:800px){
    .params{
        &>tr{
            &>td{
                font-size: 10px;
                padding: 10px 7px;

                &>div{

                   &:nth-child(1){
                       width: 70%;
                   }
                    &:nth-child(2){
                        width: 30%;
                        &>mat-icon{
                            margin-top: -2px;
                            font-size: 13px;
                        }
    
                    }
    
                }
            }

        }
        
    }
   
}