.env{
    &>.head{
        position: relative;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        background: #fafafa;
        padding: 50px 10px;
        font-size: 18px;
        font-weight: 200; 
        &>.header{
            font-size: 25px;
            margin-bottom: 10px;
            max-width: 700px;
            color: #555;

        }
        &>.subheading{
            font-size: 15px;
            max-width: 700px;
            color:#888;
            

        }
    }
    .environment-variables{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &>.env-var{
            padding: 50px 10px;
            max-width: 1000px;
            width: 100%;
            flex-grow: 1;
            &>.vars-head{
                padding: 10px;
                background-color: rgb(37, 144, 206);
                color: #fff;
                font-weight: 700;
                font-size: 20px;
                border-radius: 10px 10px 0px 0px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                &>div{
                    flex-grow: 1;
                    padding: 5px;
                }

                
            }
            &>.vars-body{
                background: rgb(243, 242, 242);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 0 0 10px 10px;

                &>.vars{
                    width: 100%;
                    
                    margin:10px;
                    padding: 10px 5px;
                    border-radius: 10px;  
                    
                    
                    
                    &>div{
                        padding: 5px;
                        display: flex;
                        flex-direction: column;
                        justify-content: baseline;
                        align-items: baseline;
                        &>span{
                            display: inline-block;
                            flex-grow: 1;
                            border-bottom: 1px solid #555; 
                            margin: 0;
                            width:100%;
                        } 
                    }
                   
                    &:nth-of-type(odd){
                        // background-color:#969595; 
                        // color: #f1f1f1;
                    }
                    
                    &:nth-of-type(even){
                        
                        // background-color:#d8d6d6; 
                    }

                
                }
                &>.input-vars{
                    width: 100%;
                    padding: 10px 5px;
                    
                    &>div{
                        padding: 5px;
                        &>mat-form-field{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

}


.bg-lblue{
    color: rgb(37, 144, 206);
}