<section>
    <header>
        <div class="brand">
            <img src="../../assets/logo.svg">
        </div>
    </header>

    <section class="body">
        <div class="form-group">
            <div class="formele">
                <input type="text" placeholder="Name" [(ngModel)]="user.name">

            </div>
            <div class="formele">
                <input type="text" placeholder="username" [(ngModel)]="user.id">

            </div>
            <div class="formele">
                <input type="text" placeholder="password" [(ngModel)]="user.password">

            </div>



        </div>
    </section>
    <section class="footer">
        APIT does not use any server for account creation and user validation, login and signps are only to manage
        multiple accounts, on this tool
        all datas are stored locally.

    </section>


</section>