html, body { height: 100%; }
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
body { margin: 0; font-family: 'Nunito Sans', sans-serif; }
.nog{
    margin: 0;
    padding: 0;
}
.err{
    color: red;
    font-size: 15px;
    margin: 10px 0;
    cursor: pointer;
}


::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 3px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}


[contenteditable=true]:empty:before{
    content: attr(placeholder);
    display: block; /* For Firefox */
}

.apit_close{
    &>mat-icon{
        cursor: pointer;
        text-align: center;
        width: auto;
        height: auto;
        padding: 5px;
        font-size:  15px;
        font-weight: bold;
        &:hover{
            color: #da4343;
            
        }
    }
}

button:focus{
    outline: none !important; 
}


.mobile{
    display: none;

}

.pc{
    display: block;
}
@media(max-width:800px){
    .mobile{
        display: block;
    }
    .pc{
        display: none;
    }
}