html, body { height: 100%; }
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
body { margin: 0; font-family: 'Nunito Sans', sans-serif; }
.nog{
    margin: 0;
    padding: 0;
}
.err{
    color: red;
    font-size: 15px;
    margin: 10px 0;
    cursor: pointer;
}