.section1{
    width: 100%;
    padding:50px;
}
.start-request{
    max-width: 100vw;

    &>div>.request{
        &>mat-form-field:nth-child(2){
            
            width: 30vw;
            min-width: 180px;

        }
        &>mat-form-field{
            margin: 0 10px;
        }
        &>button{
            max-width: 180px;
            margin: 0 10px;
            background: rgb(37, 144, 206);
        }
    }
}


.header{
    max-width: 885px;
    padding: 10px;
}


.response{
    margin: 0px 0px;
    max-width: 885px;
    padding: 10px;

    &>.responseheader{
        padding: 10px;
        font-size: 20px;
        background: #2590CE;
        border-radius: 10px;
        color: white;
    }
    &>.body{
        padding: 10px;
        // background: rgb(240, 240, 240);
        border: 1px solid #7A7A7A;
        
    }
    &>.httpHeader{
        padding: 10px;
        // background: rgb(240, 240, 240);
        border: 1px solid #7A7A7A;

    }
    &>header{
        margin: 30px 0 0 0; 

    }
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    color: #2590CE;
    max-height: calc(35vh );
}

.nodata{
    background-color: rgb(250, 250, 250);
    border:1px dashed rgb(173, 173, 173) !important; 
    height: 30vh;
}



.helpmsg{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2590CE;
    width: 100%;
    height: 100%;
}




@media(max-width:800px){
    .section1{
        padding: 50px 10px;
    }
}

.auth-part{
    padding:0 10px;

    max-width: 885px;
    margin: 30px 0;

}

.auth-section{
    margin:20px 0 0 0;
    display: flex;
    flex-direction: row;
    &>.auth-head{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        width: auto;
        justify-content: center;
        padding: 8px 0; 
        


    }
    &>.auth-options{
        flex-grow: 1;
        width: auto;
        &>button{
            color:rgb(87, 86, 86);
            font-weight: 400;
            border:1px dotted rgb(3, 108, 168);
        }
    }
}
.make-auth{
    display: block;
    width: 100%;
    &>.basicform{
        margin:10px 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: left;
        &>div{
            &:nth-child(1){
                padding-right: 15px;
            }
            
            &:nth-child(2){
                padding-left: 15px;
            }
        
            &>mat-form-field{
                width: 100% ;
                &>input{
                    // display: inline-block;
                    // flex-flow: 1; 
                    margin: 0 auto;
                    width: 100%;
                    padding: 5px;
                    color: #7A7A7A;
                }
            }
        }
        &>.Bearertoken{
            padding: 0 !important;
        }
    }
}
.cors{
    padding: 0px 10px;
    margin: 20px 0;
    
}
.history-part{
    max-width: 885px;
    padding: 10px;
   
    &>.history-table{
        border-radius:10px; 
        padding: 10px;
        // border: 1px solid #2590CE;
        background-color: #f2f2f2;

        &>header{
            // background-color: #2590CE;
            color: #2590CE;
            font-size: 18px;
            font-weight: 500;
            padding:10px 0;

        }
        &>.history-content{
            background-color: #ffffff;
            padding: 15px 15px 0 15px;
            border-radius:10px; 
            max-height: 300px;
            overflow: auto;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            &>.load{
                text-align: center;
                padding: 0px;
                cursor: pointer;
                margin-bottom: 5px;
                &>mat-icon{
                    padding: 0;
                    // margin:-5px 0;
                    height: auto;
                    
                    &:hover{
                        background-color: #f4f4f4;
                        text-shadow: 0 5px 5px rgb(199, 199, 199);
                    }
                }

            }
            &>.histories{
                // flex-grow: 1;
                width: 100%;
                &>.histlisthead{
                    padding:7px 10px;
                    background-color:#fff;
                    box-shadow: 1px 1px 6px rgb(148, 147, 147); 
                    margin:5px 0;
                    word-break: break-all;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    &>.slipcard{
                        color: #2590CE;
                        padding: 5px;
                        margin: auto;
                    }

                }
                &>.histlistbody{
                    word-break: break-all;
                }
            }
        }
    }
}
@media(max-width:800px){
    .make-auth{
       
        &>.basicform{
            &>div{
                &:nth-child(1){
                    padding: 0 0 5px 0;
                }
                
                &:nth-child(2){
                    padding: 5px 0 0px 0;

                }
                
            }
        }
    }
}

